.expertise-h1 {
    margin-top: 48px;
    margin-left: 180px;
    margin-right: 128px;
    margin-bottom: 40px;
}

.expertise-item {
    display: flex;
    margin-bottom: 55px;
    margin-left: 180px;
    margin-right: 128px;
}

.expertise-image {
    height: auto;
    margin-right: 28px;
    border-radius: 12px;
}
.expertise-title {
    margin-top: 6px;
}
.expertise-text {
    width: auto;
    font-family: 'Vollkorn';
}

@media (max-width: 1418px) {
    .expertise-item {
        margin-left: 135px;
    }
    .expertise-h1 {
        margin-left: 135px;
    }

}

/* @media (max-width: 1417px) {
    .expertise-item {
        margin-left: 151px;
    }
    .expertise-h1 {
        margin-left: 151px;
    }
} */
