<footer class="footer">

    <img src="../../../assets/images/logo.svg" class="footer-logo">
    
    <div class="footer-block">
        <h2 class="title">CONTATO</h2>
        <div class="footer-border">
            <p class="footer-text first-p">+55 79 3085-8550</p>
            <p class="footer-text second-p">adir@adirmachadoadvogados.com.br</p>
        </div>
        <div class="footer-border">
            <p class="footer-text first-p">Rua Terêncio Sampaio, 138A - Grageru</p>
            <p class="footer-text second-p">Aracaju - SE</p>
        </div>
        <div class="footer-icons">
            <a href="">
                <img src="../../../assets/images/instagram.svg">
            </a>
            <a href="">
                <img src="../../../assets/images/linkedin.svg">
            </a>
            <a href="">
                <img src="../../../assets/images/youtube.svg">
            </a>
        </div>
    </div>

</footer>