<footer class="footer">

    <img src="../../../assets/images/logo.svg" class="footer-logo">
    
    <div class="footer-block">
        <h2 class="title">CONTATO</h2>
        <div class="footer-border">
            <p class="footer-text first-p">(79) 3085-8550</p>
            <p class="footer-text second-p">adir@adirmachadoadvogados.com.br</p>
        </div>
        <div class="footer-border">
            <p class="footer-text first-p">Rua Terêncio Sampaio, 100 - Grageru</p>
            <p class="footer-text second-p">Aracaju - SE</p>
        </div>
        <div class="footer-icons">
            <a href="https://www.instagram.com/adirmachadob/">
                <img src="../../../assets/images/instagram.svg">
            </a>
            <a href="https://www.linkedin.com/in/adir-machado-b29141150/">
                <img src="../../../assets/images/linkedin.svg">
            </a>
            
        </div>
    </div>

</footer>