<section class="mobile-banner">
    <div class="banner-mobile-img"></div>
    <img style="width: 50%; margin-top: 20px;" src="../../../assets/images/logo.svg" alt="">
    <p class="banner-text">O escritório do advogado Adir Machado Bandeira é um espaço profissionalmente inspirador, onde os clientes recebem serviços jurídicos de alta qualidade, com dedicação, ética e expertise, visando sempre alcançar os melhores resultados possíveis.</p>
            <button routerLink="/contato" class="button-banner">
                ENTRAR EM CONTATO
            </button>
</section>

<section class="banner">
    <div class="section-fixer">
        <div class="banner-fixer">
            <h1 class="banner-title"><strong>Responsabilidade. Compromisso. Resultado.</strong></h1>
            <p class="banner-text">O escritório do advogado Adir Machado Bandeira é um espaço profissionalmente inspirador, onde os clientes recebem serviços jurídicos de alta qualidade, com dedicação, ética e expertise, visando sempre alcançar os melhores resultados possíveis.</p>
            <button routerLink="/contato" class="button-banner">
                ENTRAR EM CONTATO
            </button>
        </div>
        <div class="banner-img">
            <div class="img-bg"></div>
            <img class="img-banner" src="../../../assets/images/IMG_Adir.png">
            <img src="../../../assets/images/logo.png" alt="Logo">
        </div>
    </div>
</section>

<section class="mobile-about">
            <p class="about-title">Sobre Nós</p>
            <h1 class="m-about-title"><strong>Nosso escritório em poucas palavras</strong></h1>
            <p style="font-size: 16px; width: 90%; font-family: 'Roboto',sans-serif; text-align: justify;">O escritório do advogado Adir Machado advogados associados é um ambiente profissional e elegante, reconhecido pela qualidade excepcional dos serviços prestados. Com uma decoração sóbria e contemporânea, o espaço é projetado para oferecer conforto e privacidade aos clientes. As salas são espaçosas, bem iluminadas e equipadas com tecnologia de ponta, proporcionando um ambiente propício para a realização de reuniões e consultas jurídicas.</p>
            <button routerLink="/sobre" class="about-button">SABER MAIS</button>
        <div style="margin-left: 100px; display: flex;">
            <img class="m-about-image" src="../../../assets/images/img_0001.jpg" alt="Foto do escritório">
        </div>
</section>

<section class="about">
    <div style="width: 80%; display: flex; justify-content: space-between;">
        <div style="display: flex; flex-direction: column; justify-content: center; margin-left: 20px;">
            <p class="about-title">Sobre Nós</p>
            <h1 class="about-subtitle"><strong>Nosso escritório em poucas palavras</strong></h1>
            <p style="font-size: 16px; width: 550px; margin-bottom: 80px; font-family: 'Roboto',sans-serif; text-align: justify;">O escritório do advogado Adir Machado advogados associados é um ambiente profissional e elegante, reconhecido pela qualidade excepcional dos serviços prestados. Com uma decoração sóbria e contemporânea, o espaço é projetado para oferecer conforto e privacidade aos clientes. As salas são espaçosas, bem iluminadas e equipadas com tecnologia de ponta, proporcionando um ambiente propício para a realização de reuniões e consultas jurídicas.</p>
            <button routerLink="/sobre" class="about-button">SABER MAIS</button>
        </div>
        <div class="about-img">
            <img style="z-index: 2; position: absolute; max-width: 40%; max-height: 346.638px;" src="../../../assets/images/img_0001.jpg" alt="Foto do escritório">
            <div class="image-portrait"></div>
        </div>
    </div>
</section>
<section class="expertise">
    <div class="expertise-fixer">
        <div class="div-margin" style="width: 100%; display: flex; flex-direction: column; justify-content: center;">
            <h1 class="expertise-title"><strong>Áreas de atuação</strong></h1>
            <div style="display: flex; flex-direction: row; justify-content: space-between; flex-wrap: wrap;">
                <app-expertise-block class="expertise-block" style="margin-bottom: 20px; margin-right: 0px;" *ngFor="let expertise of expertises" 
                [expertiseTitle]="expertise.title"
                [imgPath]="expertise.path"
                >
                </app-expertise-block>
            </div>
        </div>
    </div>
</section>
<section id="team" class="team">
    <div class="team-fixer">
        <div class="div-margin" style="width: 100%; display: flex; flex-direction: column; justify-content: center;">
            <h1 class="team-title"><strong>Nossa equipe</strong></h1>
            <div style="display: flex; flex-direction: row; justify-content: space-between; flex-wrap: wrap; margin-bottom: 20px;">
                <app-team-component (click)="this.lawyerInfo.emit(this.lawyer.id); this.openModal.emit(true)" class="team-block" style="margin-bottom: 20px;" *ngFor="let lawyer of lawyers" 
                [lawyerName]="lawyer.name"
                [lawyerTitle]="lawyer.title"
                [imgPath]="lawyer.path"
                >
                </app-team-component>
            </div>
        </div>
    </div>
</section>
<section id="articles" class="articles">
    <div style="width: 80%; display: flex; justify-content: space-between; align-items: flex-start;">
        <img class="article-img" style="margin-left: 20px; width: 20%;" src="../../../assets/images/mockup.png" alt="">
        <div class="div-margin" style="width: 100%; display: flex; flex-direction: column; justify-content: center; align-items: flex-start;">
            <h1 class="article-title"><strong>Confira alguns artigos</strong></h1>
            <app-articles-component class="article" style="margin-bottom: 20px;" *ngFor="let article of articles"
            [articleTitle]="article.title"
            [authorName]="article.author"
            [articleLink]="article.link">
            </app-articles-component>
        </div>
    </div>
</section>
