.m-about-title{
    width: 400px;
    margin-top: -5px;
    font-size: 30px;
}

@media (max-width: 1440px){
    .section-fixer{
        width: 85%;
    }

    .expertise-fixer{
        width: 63%;
    }
}

@media (max-width: 771px){
    .banner-img{
        display: none;
    }

    .article-img{
        display: none;
    }

    .banner{
        display: none;
    }

    .mobile-banner{
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 80px;
    }

    .banner-mobile-img{
        display: block;
        width: 100%;
        height: 300px;
        background-image: url(../../../assets/images/banner-mobile.png);
        background-size:cover;
        background-position: center;
        border-radius: 0px 0px 25px 25px;
        margin-top: -20px;
        z-index: -1;
    }

    .about{
        display: none;
    }

    .about-button{
        margin-bottom: 40px;
    }

    .mobile-about{
        width: 100%;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 80px 0px;
        flex-direction: column;
    }

    .team-fixer{
        width: 60%;
        display: flex;
        justify-content: space-between;
    }
}

@media (max-width: 700px){
    .banner-img{
        display: none;
    }

    .team-fixer{
        width: 75%;
    }

    .m-about-image{
        width: 400px;
        margin-left: -100px;
    }

    .mobile-banner{
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 80px;
    }

    .expertise-fixer{
        width: 80%;
    }

    .banner{
        display: none;
    }

    .banner-text{
        width: 90%;
        text-align: justify;
        font-size: 16px;
        font-family: 'Roboto';
    }

    .banner-mobile-img{
        display: block;
        width: 100%;
        height: 300px;
        background-image: url(../../../assets/images/banner-mobile.png);
        background-size:cover;
        background-position: center;
        border-radius: 0px 0px 25px 25px;
        margin-top: -20px;
        z-index: -1;
    }

    .banner-title{
        display: none;
    }

    .about{
        display: none;
    }

    .about-button{
        margin-bottom: 40px;
    }

    .mobile-about{
        width: 100%;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 80px 0px;
        flex-direction: column;
    }

    .expertise{
        margin-left: -10px;
    }

    .article-img{
        display: none;
    }

    .articles{
        border-top: #3A161D solid 5px;
    }

    .expertise-block:hover{
        transform: none;
    }

    .expertise-title{
        font-size: 30px;
    }

    .article{
        border-bottom: solid 5px #3A161D;
    }

    .article-title{
        max-width: 315px;
        font-size: 28px;
    }

    .div-margin{
        margin-left: 0px;
    }
}

@media (max-width: 1046px) {
    .expertise-p {
        display: none;
    }
}

@media (max-width:421px){
    .m-about-image{
        width: 350px;
    }
}

@media (max-width: 380px){
    .expertise-fixer{
        width: 90%;
    }

    .m-about-image{
        width: 300px;
    }
    
    .m-about-title{
        max-width: 80%;
        font-size: 26px;
    }

    .team-title{
        font-size: 30px;
    }

    .div-margin{
        margin-left: 20px;
    }

}

@media (max-width: 321px){
    
    .team-fixer{
        margin-left: -30px;
    }
    
    .div-margin{
        margin-left: 0px;
    }
    
}