<nav [class]="about.isActive ? 'gray-navbar' : 'navbar'">
    <img routerLink="/" class="logo" src="../../../assets/images/logo-AM.png" alt="Logo de Adir Machado">
    <div class="link-wrapper">
        <p routerLink="/" [class]="about.isActive ? 'gray-link' : 'link'" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}"><strong>INÍCIO</strong></p>
        <p (click)="scrollToId('articles')" routerLink="/" [class]="about.isActive ? 'gray-link' : 'link'"><strong>ARTIGOS</strong></p>
        <p routerLink="/sobre" routerLinkActive="active-link" #about="routerLinkActive" [routerLinkActiveOptions]="{exact: true}" [class]="about.isActive ? 'gray-link' : 'link'"><strong>SOBRE</strong></p>
        <p routerLink="/contato" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}" [class]="about.isActive ? 'gray-link' : 'link'"><strong>CONTATO</strong></p>
    </div>
</nav>