<nav class="navbar">
    <img routerLink="/" class="logo" src="../../../assets/images/logo-AM.png" alt="Logo de Adir Machado">
    <div class="link-wrapper">
        <p routerLink="/" class="link" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}"><strong>INÍCIO</strong></p>
        <p (click)="scrollToId('articles')" class="link"><strong>ARTIGOS</strong></p>
        <p routerLink="/sobre" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}" class="link"><strong>SOBRE</strong></p>
        <p routerLink="/contato" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}" class="link"><strong>CONTATO</strong></p>
    </div>
</nav>