.navbar{
    background-color: white;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding: 0 20px;
    margin-top: 20px;
}
.hamburger{
    display: none;
}

.menu{
    display: none;
}
.gray-navbar{
    background-color: #F0F0F0;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding: 0 20px;
    margin-top: 20px;
}

.logo{
    color: #BF9257;
    font-size: 20px;
}

.link-wrapper{
    display: flex;
    justify-content: space-between;
    margin-top: 2px;
}

.link{
    margin-left: 30px;
    transition: 0.8s;
    cursor: pointer;
    border-bottom: solid 2px #FFFFFF;
    font-family: 'Vollkorn';
    font-size: 14px;
}

.link:hover{
    border-bottom: solid 2px #3A161D;
}

.gray-link{
    margin-left: 30px;
    transition: 0.8s;
    cursor: pointer;
    border-bottom: solid 2px #F0F0F0;
    font-family: 'Vollkorn';
    font-size: 14px;
}

.gray-link:hover{
    border-bottom: solid 2px #3A161D;
}

.active-link{
    color:#BF9257;
}

.logo{
    transition: .8s;
    cursor: pointer;
}

.logo:hover{
    transform: scale(1.1);
}

@media (max-width: 430px){
    .navbar{
        background-color: #3A161D;
        padding: 20px 20px 0px 20px;
        margin: 0;
        border-radius: 0px 0px 20px 20px;
        flex-direction: column;
        transition: .8s;
    }

    .gray-navbar{
        background-color: #3A161D;
        padding: 20px 20px 0px 20px;
        margin: 0;
        border-radius: 0px 0px 20px 20px;
        flex-direction: column;
    }

    .menu{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .link-wrapper{
        display: none;
    }

    .hamburger{
        display: flex;
    }
    .mobile-link{
        color: #BF9257;
        font-family: 'Vollkorn';
        font-size: 18px;
        margin: 0;
    }
}