.logo-wrapper{
    background-color: #F4F4F4;
    min-height: 120px;
    min-width: 120px;
    max-width: 120px;
    max-height: 120px;
    padding: 10px; border-radius: 10px;
    box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.2);
    display: flex; align-items: center;
    justify-content: center;
    margin-right: 20px;
}

.logo{
    width: 100px;
}

.title{
    margin: 0;
    font-family: 'Vollkorn';
    font-weight: bold;
    font-size: 25px;
}

.name{
    margin: 0;
    font-family: 'Vollkorn';
    font-weight: bold;
    font-size: 20px;
    color: #BF9257;
}

.mobile-logo{
    display: none;
}

@media (max-width: 430px){
    .logo-wrapper{
        display: none;
    }

    /* .mobile-logo{
        display: flex;
        width: 50px;
        height: 50px;
    } */

    img{
        /* display: none; */
    }

    .title{
        font-size: 20px;
    }
    .name{
        font-size: 16px;
    }

}