.title{
    margin: 0;
    font-size: 20px;
    font-family: 'Vollkorn';
    text-align: center;
}

.width{
    width: 280px;
}

@media (max-width: 430px){
    .width{
        width: 150px;
    }

    .title{
        font-size: 14px;
    }
}