.name{
    margin: 0;
    color: #FFFFFF;
    font-size: 20px;
    font-family: 'Vollkorn';
    text-align: center;
}
.title{
    margin: 0;
    color: #BF9257;
    font-size: 16px;
    font-family: 'Vollkorn';
    text-align: center;
}