<footer class="footer">

    <img src="../../../assets/images/logo.svg" class="footer-logo">
    
    <div class="footer-block">
        <h2 class="title">CONTATO</h2>
        <div class="footer-border">
            <p class="footer-text first-p">+55 79 9 9999-9999</p>
            <p class="footer-text second-p">adirmachado@contato.com</p>
        </div>
        <div class="footer-border">
            <p class="footer-text first-p">Rua Terêncio Sampaio, 100 - Grageru</p>
            <p class="footer-text second-p">Aracaju - SE</p>
        </div>
        <div class="footer-icons">
            <a class="link" href="">
                <img src="../../../assets/images/instagram.svg">
            </a>
            <a class="link" href="">
                <img src="../../../assets/images/linkedin.svg">
            </a>
            <a class="link" href="">
                <img src="../../../assets/images/youtube.svg">
            </a>
        </div>
    </div>

</footer>